@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Crimson Text", serif;
  color: #222;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: inline-block;
  margin: 1rem;
}

article {
  max-width: 43em;
}

article h1 {
  font-weight: normal;
  padding: 0 1rem;
}

article header {
  border-bottom: 1px solid #999;
}

article header p {
  font-style: italic;
}

article > p:last-child {
  border-bottom: 1px solid #999;
}

article p {
  padding: 0 1rem;
}

article ol {
  padding: 0 1rem;
}

blockquote {
  max-width: 24em;
  color: #555;
  font-size: 1.125rem;
}

.quote {
  color: #999;
}

@media only screen and (min-width: 25em) {

  html {
    line-height: 1.3;
    font-size: 100;
  }

}

@media only screen and (min-width: 38em) {

  html {
    line-height: 1.4;
    font-size: 110%;
  }

}

@media only screen and (min-width:60em) {

  html {
    line-height: 1.5;
    font-size: 120%;
  }

}

@media only screen and (min-width:90em) {

  html {
    font-size: 130%;
  }

}
